#bgsf{
    -fx-background-color: linear-gradient(to bottom, #565656, #2b2b2b);

}
#sp{
    -fx-background: #ffffff;

}
#pb{
    -fx-background-color:#ffffff;
}

#src:focused{
    -fx-focus-color: transparent;
    -fx-background-insets: -1.4, 0, 1, 2;
}
#songblock{
    -fx-border-width: 0 0 15 0;
    -fx-border-color: black; 
}